k8s {
   namespace = 'svaton-ns'
   runAsUser = 1000
   outdir = '/mnt/home/450402/000000-My_Documents/Next_ik'
   launchDir = '/mnt/home/450402/000000-My_Documents/k8s_nf/launchDir'
   projectDir = '/mnt/home/450402/000000-My_Documents/k8s_nf/project_dir'
}

process {
   container = 'registry.gitlab.ics.muni.cz:443/450402/nextflow_k8s_test:latest'
   scratch = true
   cpus = 2
   memory = '4GB'
   executor = 'k8s'
   pod = [[securityContext:[fsGroupChangePolicy:'OnRootMismatch', runAsUser:1000, runAsGroup:1, fsGroup:1]], [nodeSelector:'storage=local-ssd'], [imagePullSecret:'docker-registry-cred']]
}

executor {
   queueSize = 50
}

manifest {
   defaultBranch = 'main'
  // mainScript = 'my_pipeline.nf'
}